<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="webook" class="img-responsive text-center" src="modules/core/img/brand/logo.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				把网页整理成一本电子书，阅读、分享、快乐。
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/" target="_blank">开始</a>
			</p>
		</div>
	</div>
</section>